.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}
.controlgroup{
    display: inline;
    
}

a>i{
    color: white;
}
.seleccionado{
    color:dodgerblue;
}